html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.app-title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 10px black;
  pointer-events: none; 
}
